.container.container__product {
    max-width: 1349px;
}

.product__title {
    color: rgba(0, 0, 0, .3);
    margin: 0 0 4rem 0;
}

.title-link {}

.title-link:hover {
    text-decoration: underline;
}

.product {
    display: flex;
    justify-content: space-between;
}

.product__images {
    display: flex;
    align-items: center;
    gap: 2rem;

    width: 53.17%;
}

.product__images-column {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    /* width: 12.88%; */
}

.product__image-small {
    cursor: pointer;
}

.product__image-small img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.small-image.active {
    border: 2px solid #E57F66;
}

.product__image-arrow {
    background-color: #E57F66;
    padding: 3rem 2rem;
    border: none;

    border-radius: 1rem;

    cursor: pointer;
}

.product__image-arrow.up-button {
    display: none;
}

.product__image-arrow.up-button img {
    transform: rotate(180deg);
}

.product__image-arrow img {
    display: block;
    max-width: 41px;
    height: auto;
    margin: 0 auto;
}

.product__image {
    position: relative;
}

.product__image .catalog__card-description {
    top: 2rem;
    right: 2rem;
}

.product__image img {
    display: block;
    max-width: 568px;
    height: auto;

    border-radius: 10px;
}

.product__image .big-image {
    width: 100%;
    height: 410px;
    object-fit: cover;
}

.product__body {
    width: 45%;
    padding: 4rem 0;
}

.product__body-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product__body-title {
    font-weight: 500;
    font-size: 3.6rem;
}

.product__body-price {
    font-weight: 700;
    font-size: 2rem;
    color: #E57F66;
}

.product__body-text {
    line-height: 1.5;
}

.product__body-description {
    display: flex;
    justify-content: space-between;
}

.product-description__item {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

.product-description__item .info-name,
.product-description__item .info-value {
    margin: 0;
}

/* .info-name {}

.info-value {} */

.product__body-footer {
    margin: 4rem 0 0 0;
    display: flex;
    align-items: center;
}

.product-count {
    margin: 0 1.6rem 0 1.6rem;

    font-weight: 700;
    font-size: 2rem;
}

.button:disabled {
    border-color: #E57F66;
    background-color: #fff;
    color: #000;
    cursor: not-allowed;
}

.button:disabled:hover {
    scale: 1;
}

.button.button--count {
    padding: 1.4rem 2rem;
    max-width: 50px;
    width: 100%;
    height: 50px;
}

.button.product--button {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    height: 50px;

    margin: 0 0 0 4rem;
}

.button.button-dec {
    border-color: #E57F66;
    background-color: #fff;
    color: #000;
    /* cursor: pointer; */
}

/* OTHER */

.other-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media (max-width: 1230px) {
    .product__title {
        margin: 0;
    }
}

@media (max-width: 993px) {

    .product__title {
        margin: 0 0 4rem 0;
    }

    .product__images {
        /* width: unset;
        margin: 0 auto; */
        width: 60%;
    }

    .product__body {
        width: 37%;
        padding: 0;
    }

    .product__body-title {
        font-size: 3.2rem;
    }

    .product__body-content {
        gap: 1rem;
    }

    .product__body-description {
        flex-direction: column;
    }

    .product__body-footer {
        margin: 2rem 0 0 0;
    }

    .button.product--button {
        margin: 0 0 0 2rem;
    }

    /* OTHER PRODUCT */

    .other-product {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 770px) {
    .product {
        flex-direction: column;
    }

    .product__images {
        width: unset;
        /* margin: 0 auto; */
    }

    .product__images-column {
        /* width: 13%; */
    }

    .product__body {
        width: 100%;
        padding: 4rem 0 0 0;
    }

    .product__body-description {
        flex-direction: row;
    }

    .other-product {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .product__images {
        flex-direction: column-reverse;
    }

    .product__images-column {
        /* width: 20%; */
        flex-direction: row;
        gap: 1.5rem;
    }

    .product__image-arrow {
        transform: rotate(270deg);
        padding: 1rem 2.5rem;
    }

    .product__image .big-image {
        height: auto;
    }

    .product__body-title {
        font-size: 2.4rem;
    }

    .product__body-price {
        font-size: 1.8rem;
    }

    .product__body-text {
        font-size: 1.5rem;
    }

    .product__body-description {
        flex-direction: column;
    }

    .other-product {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .product__image-arrow {
        display: none;
    }

    .product__image .catalog__card-description {
        top: 1rem;
        right: 1rem;
    }
}